Team 9 Energy Efficiency/flows.json
[{"id":"4ade02c0.7f5cbc","type":"tab","label":"sampath","disabled":false,"info":""},{"id":"28daa7b2.e60bf8","type":"debug","z":"4ade02c0.7f5cbc","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":1490,"y":380,"wires":[]},{"id":"7e6d9627.f08f78","type":"function","z":"4ade02c0.7f5cbc","name":"Prediction","func":"var token=msg.payload.token;\nvar Relative_Compactness=global.get(\"Relative_Compactness\");\nvar Surface_Area=global.get(\"Surface_Area\");\nvar Wall_Area=global.get(\"Wall_Area\");\nvar Roof_Area=global.get(\"Roof_Area\");\nvar Overall_Height=global.get(\"Overall_Height\");\nvar Orientation=global.get(\"Orientation\");\n// var Relative_Compactness=0.98;\n// var Surface_Area=514.5;\n// var Wall_Area=294;\n// var Roof_Area=110.25;\n// var Overall_Height=7;\n// var Orientation=2;\nmsg.payload={\"fields\":[\"Relative_Compactness\",\"Surface_Area\",\"Wall_Area\",\"Roof_Area\",\"Overall_Height\",\"Orientation\"],\"values\":[[Relative_Compactness,Surface_Area,Wall_Area,Roof_Area,Overall_Height,Orientation]]};\nmsg.headers={\"Authorization\":\"Bearer \"+token}\nreturn msg;","outputs":1,"noerr":0,"x":640,"y":360,"wires":[["8e4b20de.4a631","9ff7534d.a7584","7f8bf2f8.26c33c"]]},{"id":"9eca9191.5c4bf","type":"http request","z":"4ade02c0.7f5cbc","name":"","method":"GET","ret":"obj","paytoqs":false,"url":"https://eu-gb.ml.cloud.ibm.com/v3/identity/token","tls":"","proxy":"","authType":"basic","x":470,"y":280,"wires":[["7e6d9627.f08f78","68328af1.fe3524"]]},{"id":"8e4b20de.4a631","type":"http request","z":"4ade02c0.7f5cbc","name":"Scoringpoint1","method":"POST","ret":"obj","paytoqs":false,"url":"https://eu-gb.ml.cloud.ibm.com/v3/wml_instances/dc03ac90-9e6c-4411-8875-0966a34fb322/deployments/999fa49c-6447-4a7e-845b-66acba593a26/online-6447-4a7e-845b-66acba593a26/online","tls":"","proxy":"","x":960,"y":260,"wires":[["6434e9d7.156048","71b420c.8208be"]]},{"id":"68328af1.fe3524","type":"debug","z":"4ade02c0.7f5cbc","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":670,"y":180,"wires":[]},{"id":"e73aee02.9f332","type":"function","z":"4ade02c0.7f5cbc","name":"token generation","func":"global.set(\"Relative_Compactness\",msg.payload.Relative_Compactness);\nglobal.set(\"Surface_Area\",msg.payload.Surface_Area);\nglobal.set(\"Wall_Area\",msg.payload.Wall_Area);\nglobal.set(\"Roof_Area\",msg.payload.Roof_Area);\nglobal.set(\"Overall_Height\",msg.payload.Overall_Height);\nglobal.set(\"Orientation\",msg.payload.Orientation);\nreturn msg;\n","outputs":1,"noerr":0,"x":371,"y":160,"wires":[["9eca9191.5c4bf"]]},{"id":"6434e9d7.156048","type":"function","z":"4ade02c0.7f5cbc","name":"o/p parsing","func":"msg.payload=msg.payload.values[0][0]\nreturn msg;\n","outputs":1,"noerr":0,"x":1190,"y":280,"wires":[["28daa7b2.e60bf8","fc84078.25de6f8"]]},{"id":"3df798ff.95d1a8","type":"ui_form","z":"4ade02c0.7f5cbc","name":"","label":"","group":"4a0258c.84960a8","order":1,"width":0,"height":0,"options":[{"label":"Relative_Compactness","value":"Relative_Compactness","type":"number","required":true},{"label":"Surface_Area","value":"Surface_Area","type":"number","required":true},{"label":"Wall_Area","value":"Wall_Area","type":"number","required":true},{"label":"Roof_Area","value":"Roof_Area","type":"number","required":true},{"label":"Overall_Height","value":"Overall_Height","type":"number","required":true},{"label":"Orientation","value":"Orientation","type":"number","required":true}],"formValue":{"Relative_Compactness":"","Surface_Area":"","Wall_Area":"","Roof_Area":"","Overall_Height":"","Orientation":""},"payload":"","submit":"submit","cancel":"cancel","topic":"","x":210,"y":280,"wires":[["e73aee02.9f332","7019e73e.b67f28","19da7072.1381f","154334d4.50bacb","9d27a28f.a202","2624b77d.76d018","e781a018.e0d4f","9b5acdf9.893d6"]]},{"id":"7019e73e.b67f28","type":"ui_text","z":"4ade02c0.7f5cbc","group":"4a0258c.84960a8","order":2,"width":0,"height":0,"name":"","label":"Relative_Compactness","format":"{{msg.payload.Relative_Compactness}}","layout":"row-spread","x":490,"y":520,"wires":[]},{"id":"9d27a28f.a202","type":"ui_text","z":"4ade02c0.7f5cbc","group":"4a0258c.84960a8","order":5,"width":0,"height":0,"name":"","label":"Roof_Area  ","format":"{{msg.payload.Roof_Area}}","layout":"row-spread","x":650,"y":640,"wires":[]},{"id":"19da7072.1381f","type":"ui_text","z":"4ade02c0.7f5cbc","group":"4a0258c.84960a8","order":3,"width":0,"height":0,"name":"","label":"Surface_Area","format":"{{msg.payload.Surface_Area}}","layout":"row-spread","x":560,"y":560,"wires":[]},{"id":"154334d4.50bacb","type":"ui_text","z":"4ade02c0.7f5cbc","group":"4a0258c.84960a8","order":4,"width":0,"height":0,"name":"","label":"Wall_Area ","format":"{{msg.payload.Wall_Area}}","layout":"row-spread","x":610,"y":600,"wires":[]},{"id":"2624b77d.76d018","type":"ui_text","z":"4ade02c0.7f5cbc","group":"4a0258c.84960a8","order":6,"width":0,"height":0,"name":"","label":"Overall_Height","format":"{{msg.payload.Overall_Height}}","layout":"row-spread","x":680,"y":680,"wires":[]},{"id":"e781a018.e0d4f","type":"ui_text","z":"4ade02c0.7f5cbc","group":"4a0258c.84960a8","order":7,"width":0,"height":0,"name":"","label":"Orientation","format":"{{msg.payload.Orientation}}","layout":"row-spread","x":730,"y":720,"wires":[]},{"id":"fc84078.25de6f8","type":"ui_text","z":"4ade02c0.7f5cbc","group":"4a0258c.84960a8","order":9,"width":0,"height":0,"name":"","label":"CL","format":"{{msg.payload}}","layout":"row-spread","x":1410,"y":280,"wires":[]},{"id":"9ff7534d.a7584","type":"http request","z":"4ade02c0.7f5cbc","name":"Scoringpoint2","method":"POST","ret":"obj","paytoqs":false,"url":"https://eu-gb.ml.cloud.ibm.com/v3/wml_instances/dc03ac90-9e6c-4411-8875-0966a34fb322/deployments/138d334a-03ee-4efb-8cd9-8f555adc0680/online","tls":"","proxy":"","x":960,"y":480,"wires":[["e0659243.26656","a3921746.ed4b98"]]},{"id":"8b191d64.14af1","type":"ui_text","z":"4ade02c0.7f5cbc","group":"4a0258c.84960a8","order":8,"width":0,"height":0,"name":"","label":"HL","format":"{{msg.payload}}","layout":"row-spread","x":1390,"y":480,"wires":[]},{"id":"e0659243.26656","type":"function","z":"4ade02c0.7f5cbc","name":"o/p parsing1","func":"msg.payload=msg.payload.values[0]\nreturn msg;\n","outputs":1,"noerr":0,"x":1190,"y":480,"wires":[["8b191d64.14af1","c4abfce1.3b83"]]},{"id":"a3921746.ed4b98","type":"debug","z":"4ade02c0.7f5cbc","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":1140,"y":600,"wires":[]},{"id":"71b420c.8208be","type":"debug","z":"4ade02c0.7f5cbc","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":1180,"y":200,"wires":[]},{"id":"c4abfce1.3b83","type":"debug","z":"4ade02c0.7f5cbc","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":1400,"y":580,"wires":[]},{"id":"9b5acdf9.893d6","type":"debug","z":"4ade02c0.7f5cbc","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":240,"y":460,"wires":[]},{"id":"7f8bf2f8.26c33c","type":"debug","z":"4ade02c0.7f5cbc","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":720,"y":480,"wires":[]},{"id":"4a0258c.84960a8","type":"ui_group","z":"","name":"INPUT VALUES","tab":"9721817c.8ff4e","disp":true,"width":"6","collapse":false},{"id":"9721817c.8ff4e","type":"ui_tab","z":"","name":"Energy Efficiency","icon":"dashboard","disabled":false,"hidden":false}]